.item-theme-wraper {
  margin-bottom: 20px;
  > .inner {
    > .img {
      display: flex;
      justify-content: center;
      position: relative;
      width: 125px;
      overflow: hidden;
      margin-bottom: 10px;
      border-radius: 10px;
      &:hover img {
        transform: scale(110%);
        transition: transform 0.7s;
      }
      &:hover .before {
        display: block;
      }
      > img {
        width: 100%;
      }
      > .before {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.3);
        > .before-inner {
          width: 100%;
          height: 100%;
        }
      }
    }

    > .title {
      font-size: 0.813rem;
    }
  }
}
