.Sidebarleft-wraper {
  width: var(--width--sidebar-left);
  background-color: var(--alpha-bg);
  > .inner {
    > .Sidebarleft-logo {
      width: 120px;
      height: 70px;
      display: flex;
      align-items: center;
      margin-left: 28px;
      background: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg)
        50% / contain no-repeat;
    }
  }
}

@media only screen and (max-width: 1365px) {
  .Sidebarleft-wraper {
    width: 200px;
  }
}

@media only screen and (max-width: 740px) {
  .Sidebarleft-wraper {
    display: none;
  }
}
