.searchinput-wraper {
  width: 100%;
  max-width: 540px;
  margin-right: 20px;
  > .input {
    min-width: 310px;
    max-width: 540px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: var(--alpha-bg);
    > input {
      width: 100%;
      height: 100%;
      margin-left: 10px;
      cursor: pointer;
    }
    > span {
      color: var(--text-placeholder);
      margin-left: 10px;
    }
  }
}
.result-search-input {
  z-index: 999999;
  position: absolute;
  min-height: 0;
  max-height: calc(100vh - 90px - 10px);
  background-color: var(--primary-bg);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
