.search-result {
  margin: 10px 10px;
  h4 {
    margin-left: 10px;
    color: var(--text-white);
  }
  .singer {
    &:hover {
      border-radius: 5px;
      background-color: var(--alpha-bg);
    }
    display: flex;
    align-items: center;
    padding: 9px 0;
    cursor: pointer;
    > .singer-avatar {
      width: 52px;
      height: 52px;
      margin: 0 10px;
      > img {
        width: 100%;
        border-radius: 50%;
      }
    }
    > .singer-right {
      > .singer-name {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-white);
      }
      > .singer-desc {
        font-size: 0.9rem;
        color: var(--text-placeholder);
      }
    }
  }
  .music {
    &:hover {
      border-radius: 5px;
      background-color: var(--alpha-bg);
      > .music-avatar {
        > .music-before {
          display: flex;
        }
      }
    }
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    > .music-avatar {
      position: relative;
      width: 52px;
      height: 52px;
      margin: 0 10px;
      > .music-before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        > div {
          width: 30%;
          fill: #fff;
        }
      }
      > img {
        width: 100%;
      }
    }
    > .music-left {
      > .music-name {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-white);
      }
      > .music-desc {
        font-size: 0.9rem;
        color: var(--text-placeholder);
      }
    }
  }
}
