@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

:root {
  --width--sidebar-left: 240px;
  --height--sidebar-left: calc(100vh - var(--height--player-music));
  --height--player-music: 90px;

  --width-theme: 58.7%;
  --height-theme: 86.5%;
}

[data-theme="theme1"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --text-item-hover: #fff;
  --purple-primary: #158370;
  --primary-text: #dadada;
}
[data-theme="theme2"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.05);
  --text-item-hover: #fff;
  --purple-primary: #9b4de0;
  --primary-text: #a0a0a0;
}
[data-theme="theme3"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #ac3e82;
  --purple-primary: #c24793;
  --primary-text: #32323d;
}
[data-theme="theme4"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #cc3373;
  --purple-primary: #d14781;
  --primary-text: #32323d;
}

[data-theme="theme5"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #2a5e6b;
  --purple-primary: #8919ae;
  --primary-text: #32323d;
}

[data-theme="theme6"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #8d22c3;
  --purple-primary: #8d22c3;
  --primary-text: #32323d;
}

[data-theme="theme7"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --text-item-hover: #fff;
  --purple-primary: #3560f5;
  --primary-text: #dadada;
}

[data-theme="theme8"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --text-item-hover: #fff;
  --purple-primary: #ed2b91;
  --primary-text: #dadada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  // font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
  background-color: #007fff;
  border-radius: 50px;
}

::-webkit-input-placeholder {
  color: var(--primary-text);
}

button,
input,
[tabindex] {
  color: var(--primary-text);
  outline: none;
  border: none;
  background-color: transparent;
}

a[href] {
  color: var(--primary-text);
  text-decoration: none;
}

ul {
  list-style: none;
}
