@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

:root {
  --width--sidebar-left: 240px;
  --height--sidebar-left: calc(100vh - var(--height--player-music));
  --height--player-music: 90px;

  --width-theme: 58.7%;
  --height-theme: 86.5%;
}

[data-theme="theme1"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --text-item-hover: #fff;
  --purple-primary: #158370;
  --primary-text: #dadada;
  --text-white: #fff;
  --text-black: #000;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: hsla(0, 0%, 100%, 0.5);
  --player-bg: #181818;
  --primary-bg: #363636;
  --text-placeholder: #757575;
  --progressbar-active-bg: #fff;
  --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
}
[data-theme="theme2"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.05);
  --text-item-hover: #fff;
  --purple-primary: #9b4de0;
  --primary-text: #a0a0a0;
  --text-white: #fff;
  --text-black: #000;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: hsla(0, 0%, 100%, 0.5);
  --player-bg: #181818;
  --primary-bg: #363636;
  --text-placeholder: #757575;
  --progressbar-active-bg: #fff;
  --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
}
[data-theme="theme3"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #ac3e82;
  --purple-primary: #c24793;
  --primary-text: #32323d;
  --text-white: #000;
  --text-black: #fff;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: rgba(50, 50, 61, 0.5);
  --player-bg: #f5e6e0;
  --primary-bg: #efedeb;
  --text-placeholder: #757575;
  --progressbar-active-bg: var(--purple-primary);
  --progressbar-player-bg: rgba(0, 0, 0, 0.1);
}
[data-theme="theme4"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #cc3373;
  --purple-primary: #d14781;
  --primary-text: #32323d;
  --text-white: #000;
  --text-black: #fff;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: rgba(50, 50, 61, 0.5);
  --player-bg: #f4cbca;
  --primary-bg: #f9e6e2;
  --text-placeholder: #757575;
  --progressbar-active-bg: var(--purple-primary);
  --progressbar-player-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="theme5"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #2a5e6b;
  --purple-primary: #8919ae;
  --primary-text: #32323d;
  --text-white: #000;
  --text-black: #fff;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: rgba(50, 50, 61, 0.5);
  --player-bg: #c6c4d1;
  --primary-bg: #cac6dd;
  --text-placeholder: #757575;
  --progressbar-active-bg: var(--purple-primary);
  --progressbar-player-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="theme6"] {
  --alpha-bg: rgba(0, 0, 0, 0.05);
  --text-item-hover: #8d22c3;
  --purple-primary: #8d22c3;
  --primary-text: #32323d;
  --text-white: #000;
  --text-black: #fff;
  --tab-active-bg: #fff;
  --song-item-action: rgba(50, 50, 61, 0.5);
  --player-bg: #fff;
  --primary-bg: #ffffff;
  --text-placeholder: #757575;
  --progressbar-active-bg: var(--purple-primary);
  --progressbar-player-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="theme7"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --text-item-hover: #fff;
  --purple-primary: #3560f5;
  --primary-text: #dadada;
  --text-white: #fff;
  --text-black: #000;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: hsla(0, 0%, 100%, 0.5);
  --player-bg: #061641;
  --primary-bg: #1a3570;
  --text-placeholder: #dadada;
  --progressbar-active-bg: #fff;
  --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
}

[data-theme="theme8"] {
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --text-item-hover: #fff;
  --purple-primary: #ed2b91;
  --primary-text: #dadada;
  --text-white: #fff;
  --text-black: #000;
  --tab-active-bg: hsla(0, 0%, 100%, 0.3);
  --song-item-action: hsla(0, 0%, 100%, 0.5);
  --player-bg: #111f3b;
  --primary-bg: #4b1178;
  --text-placeholder: #dadada;
  --progressbar-active-bg: #fff;
  --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  // font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
  background-color: #007fff;
  border-radius: 50px;
}

::-webkit-input-placeholder {
  color: var(--primary-text);
}

button,
input,
[tabindex] {
  color: var(--text-title);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a[href] {
  // color: var(--text-title);
  text-decoration: none;
}

ul {
  list-style: none;
}
